* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: white;
  --bg-url: url("../assets/bg-mobile.jpg");
}

.light {
  --text-color: black;
  --bg-url: url("../assets/bg-mobile-light.jpg") 
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  }

#container {
  width: 360px;
  margin: auto;
  margin: 56px auto 0px;
  padding: 0 24px;
  }

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -web-kit-backdrop-filter: blur(4px);
  transition: background .2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid var(--text-color);
}

#social-links {
  padding: 24px 0;
  gap: 16px;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}