* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  color: #fff;
  font-family: "Inter", sans-serif;
}

body {
  background: url("../assets/bg-mobile.jpg") no-repeat top center/cover;
  }

#container {
  width: 360px;
  margin: auto;
  margin: 56px auto 0px;
  }

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
}

