* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body * {
  color: #fff;
  font-family: "Inter", sans-serif;
}

body {
  background: url("../assets/bg-mobile.jpg") no-repeat top center/cover;
  }

#container {
  width: 360px;
  margin: auto;
  margin: 56px auto 0px;
  }

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -web-kit-backdrop-filter: blur(4px);
}